In [1]:
import os
import sys
sys.path.append('../')
os.chdir('../')

In [2]:
import pandas as pd
import duck_db_helper
import duckdb

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
conn = duckdb.connect('../data/analytical_sandboxes/analytical_sandbox_zone.db')
tables = duck_db_helper.get_tables(conn)
df_list = []
df_list_names = []
for table_name in tables: 
    df = conn.sql(f"SELECT * FROM \"{table_name}\";").df()
    df_list.append(df)
    df_list_names.append(table_name)
conn.close()

In [6]:
dfm = df_list[0]
dfp = df_list[1]

In [7]:
dfm.head()

        Date        HomeTeam       AwayTeam  FTHG  FTAG FTR   AvgH  AvgD  AvgA   PRESS WDIR  WSPD  CLOUD  TEMP  TDEW
0 2022-05-08  Crystal Palace        Arsenal     0     2   A   4.39  3.59  1.88  1028.7    E   7.0    7.0  12.2   9.2
1 2022-06-08          Fulham      Liverpool     2     2   D  10.99  6.05  1.28  1007.5    S   7.0    8.0  14.7  13.2
2 2022-06-08     Bournemouth    Aston Villa     2     0   H   3.80  3.50  2.04  1006.3    S  10.0    8.0  14.7  14.5
3 2022-06-08           Leeds         Wolves     2     1   H   2.34  3.34  3.18  1006.3    S   3.0    7.0  11.1   9.7
4 2022-06-08       Newcastle  Nott'm Forest     2     0   H   1.67  3.80  5.57  1006.6   SE   6.0    8.0  10.3   9.3

In [8]:
dfm.describe()

             FTHG        FTAG        AvgH        AvgD        AvgA        PRESS        WSPD       CLOUD        TEMP        TDEW
count  380.000000  380.000000  380.000000  380.000000  380.000000   358.000000  358.000000  358.000000  358.000000  358.000000
mean     1.634211    1.218421    2.872105    4.215579    4.567053  1016.737151    6.649441    4.645251    9.298045    6.756238
std      1.419944    1.183518    1.910336    1.290887    4.179244    10.018615    4.232479    3.618327    5.078606    4.664995
min      0.000000    0.000000    1.070000    3.080000    1.250000   980.600000    1.000000    0.000000   -5.500000   -5.900000
25%      1.000000    0.000000    1.667500    3.480000    2.177500  1009.625000    4.000000    0.000000    5.600000    3.425000
50%      1.000000    1.000000    2.300000    3.760000    3.195000  1017.600000    6.000000    7.000000   10.000000    7.500000
75%      2.000000    2.000000    3.367500    4.422500    5.192500  1024.600000    9.000000    8.000000   12.900000   10.600000
max      9.000000    6.000000   12.480000   12.840000   37.570000  1040.100000   28.000000    8.000000   23.000000   16.800000

In [9]:
dfm.isna().sum().sum()

132

In [11]:
dfp.head()

  match_date          team_x  opp_team_name  was_home               name position  assists  bonus  bps  clean_sheets  creativity  element  goals_conceded  goals_scored  ict_index  influence  minutes  own_goals  penalties_missed  penalties_saved  yellow_cards  red_cards  round  saves  selected  threat  total_points  value
0 2022-08-13       Newcastle       Brighton         0       Fabian Schär      DEF        0      0   22             1         0.7      366               0             0        2.1       20.6       90          0                 0                0             1          0      2      0    411488       0             5     46
1 2022-08-14   Nott'm Forest       West Ham         1    Brennan Johnson      FWD        0      0    5             1        14.3      394               0             0        3.3        1.6       90          0                 0                0             1          0      2      0    160914      17             1     60
2 2022-08-15  Crystal Palace      Liverpool         0    Cheick Doucouré      MID        0      0   17             0        28.0      514               1             0        4.4       12.8       78          0                 0                0             0          0      2      0     12433       3             2     50
3 2022-08-13       Leicester        Arsenal         0      Wesley Fofana      DEF        0      0    7             0         1.1      272               4             0        4.0       21.4       90          0                 0                0             1          0      2      0    154919      17            -1     45
4 2022-08-14        West Ham  Nott'm Forest         0  Gianluca Scamacca      FWD        0      0    2             0         1.1      529               0             0        1.6        0.0       21          0                 0                0             0          0      2      0     94375      16             1     70

In [12]:
dfp.describe()

          was_home      assists        bonus          bps  clean_sheets   creativity      element  goals_conceded  goals_scored    ict_index    influence     minutes    own_goals  penalties_missed  penalties_saved  yellow_cards    red_cards        round        saves      selected       threat  total_points        value
count  7305.000000  7305.000000  7305.000000  7305.000000   7305.000000  7305.000000  7305.000000     7305.000000   7305.000000  7305.000000  7305.000000  7305.00000  7305.000000       7305.000000      7305.000000   7305.000000  7305.000000  7305.000000  7305.000000  7.305000e+03  7305.000000   7305.000000  7305.000000
mean      0.500753     0.068309     0.186858    10.003559      0.182341     7.738166   302.575222        0.835866      0.077481     2.699411    11.351732    55.02245     0.003422          0.002053         0.001369      0.098700     0.001506    20.821766     0.159890  4.628404e+05     7.911431      2.329774    53.847091
std       0.500034     0.274140     0.636377    10.865867      0.386152    12.902700   180.465108        1.144191      0.299723     3.343649    14.341817    38.58102     0.060703          0.045271         0.036976      0.298279     0.038778    11.420255     0.798346  9.985991e+05    15.162842      2.926130    13.688255
min       0.000000     0.000000     0.000000   -21.000000      0.000000     0.000000     2.000000        0.000000      0.000000     0.000000     0.000000     0.00000     0.000000          0.000000         0.000000      0.000000     0.000000     2.000000     0.000000  0.000000e+00     0.000000     -4.000000    38.000000
25%       0.000000     0.000000     0.000000     0.000000      0.000000     0.000000   142.000000        0.000000      0.000000     0.000000     0.000000     7.00000     0.000000          0.000000         0.000000      0.000000     0.000000    12.000000     0.000000  2.541900e+04     0.000000      0.000000    45.000000
50%       1.000000     0.000000     0.000000     7.000000      0.000000     1.000000   300.000000        0.000000      0.000000     1.700000     6.600000    76.00000     0.000000          0.000000         0.000000      0.000000     0.000000    20.000000     0.000000  9.751400e+04     0.000000      1.000000    50.000000
75%       1.000000     0.000000     0.000000    16.000000      0.000000    12.000000   448.000000        1.000000      0.000000     3.900000    17.200000    90.00000     0.000000          0.000000         0.000000      0.000000     0.000000    32.000000     0.000000  4.109470e+05     8.000000      3.000000    56.000000
max       1.000000     3.000000     3.000000    81.000000      1.000000   124.000000   731.000000        9.000000      3.000000    30.400000   125.800000    90.00000     2.000000          1.000000         1.000000      1.000000     1.000000    38.000000     9.000000  9.574623e+06   169.000000     22.000000   131.000000

In [10]:
dfp.isna().sum().sum()

0